<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&Raleway:wght@400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4db88b2900.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.donation-box').on('keydown', function(e) {
        var keyCode = e.keyCode || e.which;
        
        if (keyCode === 190 || keyCode === 110 || keyCode === 189) {
          e.preventDefault();
          return false;
        }
      });
    });
  </script>
    <script>
      $(document).ready(function() {
        $('.platform-box').on('keydown', function(e) {
          var keyCode = e.keyCode || e.which;
          
          if (keyCode === 190 || keyCode === 110 || keyCode === 189) {
            e.preventDefault();
            return false;
          }
        });
      });
    </script>
  <style>
    input.donation-box::-webkit-inner-spin-button,
input.donation-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Add any additional styling as needed */
}
  </style>
  <style>
      input.platform-box::-webkit-inner-spin-button,
      input.platform-box::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
          /* Add any additional styling as needed */
      }
      </style>
  
 {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate to {{project.user}} to help in {{project.project_title}}</title>
    <link rel="stylesheet" href="{% static 'donationstyle.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest'%}">
    <script>
      window.addEventListener('scroll', function() {
        var navbar = document.querySelector('.navbar-testing');
        var menuItems= document.querySelector('.menu-items');
        if (window.scrollY > 0) {
          navbar.classList.add('scrolled');
          menuItems.classList.add('scrolled');
        } else {
          navbar.classList.remove('scrolled');
          menuItems.classList.remove('scrolled');
        }
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
      var dropdown = document.getElementById("dropdown");
      var dropdownContent = document.getElementById("dropdown-content");

      dropdown.addEventListener("click", function() {
        dropdownContent.style.display = (dropdownContent.style.display === "none") ? "block" : "none";
      });

      document.addEventListener("click", function(event) {
        var targetElement = event.target;
        if (!targetElement.closest(".dropdown")) {
          dropdownContent.style.display = "none";
        }
      });
    });
    </script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
</head>
<header>

      <nav class="navbar-testing">
        <div class="logo">
          <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}"></a>
        </div> 
        <ul class="navbar-nav">
       
        <a href="{% url 'user_channel' username=project.user %}" class="vinsmoke"><li><i class="fas fa-arrow-alt-circle-down fa-rotate-90 fa-lg"></i>
            </li></a> 

          {% if user.is_authenticated %}
          <li>
          <div class="dropdown">
            {% if user.profile.cropped_image_data %}
            <img src="{{ user.profile.cropped_image_data.url }}" alt="Button Image" id="dropdown" style="border-radius: 50%; align-self: center;">
            <div class="dropdown-content" id="dropdown-content">
              <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
              <a href="{% url 'logout'%}">Log Out</a>
            {% else %}
            <img src="{% static 'profilepic.png' %}" alt="Button Image" id="dropdown" style="border-radius: 50%;">
            <div class="dropdown-content" id="dropdown-content">
              <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
              <a href="{% url 'logout'%}">Log Out</a>
            {% endif %}
            </div>
          </div>
        </li>
          {% else %}
          <a href="{% url 'login_user' %}" class="vinsmoke"><li>Log in</li></a>
          {% endif %}
          

      </ul>
</header>

<body>
  
<div class="kodakblack">
    <div class="container">
        <div style="display: flex; flex-direction: column; align-items: center;">
          {% if project.user.profile.cropped_image_data %}
          <img src="{{project.user.profile.cropped_image_data.url}}" class="sathi">
          {% else %}
          <img src="{% static 'profilepic.png' %}" class="sathi">
          {% endif %}
          <p class="el">  You're supporting <strong>@{{project.user}}</strong> in</p>
           
          <p class="el" style="font-family: 'Lato', sans-serif; text-align: center; margin-top: 0;"> <strong>{{project.project_title}}</strong></p>
          <hr style="width: 100%;">
        
            <img src="{{project.project_thumbnail.url}}" class="thumbnail" style="margin-top: 1em;">

            
              
             

          
       
        
       </div>
       <form method="POST" action="" id="donation-form">
        {% csrf_token %}
                    <div class="joyner">
                        <p class="harambe">Your donation to @{{project.user}}</p>
                        <i class="fa-sharp fa-light fa-dollar-sign fa-2xl nle"></i>   {{form.donation_amount}}
                    </div>

        
        

               
              {%  if not request.user.is_authenticated%}
              <hr style="width: 100%;">
                <p style="font-size: 0.88rem; color: gray; font-family: 'Lato',sans-serif;">Consider <a href="{% url 'register_user' %}" style="color: gray;"> signing up for free </a> to <strong>track your donations</strong> and <strong>recieve updates</strong> on projects you've funded.</p>
                <hr style="width: 100%;">
                   <div class="nunu"> 
                          <div class="bab">
                            {{form.first_name}}
                            {{form.last_name}}
                          </div>
                          {{form.donor_email}}
                           
                      </div>
                      <hr style="width: 100%;">    
              {% endif %}
              
         <!-- start of Django-Paypal -->
                    {% if not paypal_payment_button_updated %}
       
          
                    <div style="display: flex; align-items: center; justify-content: center;">
               <button id="view-payment-options-button" class="payment-button"><i class="fa fa-lock" style="margin-right: 8px;"></i>View Payment Options</button>
                  </div>
                      {%endif%}
            </form>
          <!--
            {% if paypal_payment_button_updated %}
            <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 10px;">
              {{ paypal_payment_button_updated.render }}
            </div>
            {% endif %}
         
            <hr style="width: 100%; margin: 0;">
              end of Django paypal-->

      <!-- PayPal payment button javascript sdk -->
      {% if paypal_payment_button_updated %}
<div id="paypal-button-container"></div>

<script src="https://www.paypal.com/sdk/js?client-id=AW7OtE6Bc3660EXqufBeLHWGAYfqRN9HoYko9tkt-QpdTa1dNkqIlNZLubfMd_MHBbm4EDub6YsMqWy8&disable-funding=credit"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    // Get the selected recipient's PayPal email or ID
    var selectedRecipient = "no-reply@our-tube.com"; // Replace with the actual recipient
    var donationId = '{{donation_id}}'
    function completeDonation(){
      var url = "{% url 'complete' %}"
      fetch(url , {
          method: 'POST',
          headers: {
            'Content-type':'application/json',
            'X-CSRFToken':csrftoken,
          },
          body: JSON.stringify({'donationId':donationId})

      })
    }  
    paypal.Buttons({

        style: {
            color: 'blue',
            shape: 'rect',
            label: 'pay',
            height: 40,
         
        },

        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{total_amount}}' // Replace with actual amount
                    },
                    payee: {
                        email_address: selectedRecipient
                    },
                    custom_id: 'YOUR_DONATION_ID' // Replace with your generated donation_id
                }]
            });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            completeDonation()
            {% if user.is_authenticated %}
            window.location.href = "{% url 'donation_history' %}";
            {% else %}
            window.location.href = "{% url 'user_channel' username=project.user.username %}";
            {% endif %}
          });
            // Handle the payment approval
            // You can fetch the donation_id from data.orderID and update your database
            // Then update the donor's page to reflect the changes

        }
    }).render('#paypal-button-container');
</script>
{%endif%}

            <p style="font-family: 'Lato',sans-serif; color: gray; font-size: 0.85rem; text-align: center; margin: 0 0;">Our-Tube charges organizers no platform fee, ensuring that 100% of all donations go directly to @{{project.user}} after deducting payment processing fees.</p>
            <hr style="width: 100%; margin: 0;">
         
    </div>
    
 
</div>




<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the input elements and the element to display the total amount
    const donationAmountInput = document.getElementById("id_donation_amount");
    const displayAmountElement = document.getElementById("display-amount");

    // Add event listeners to the input fields for the "input" event
    donationAmountInput.addEventListener("input", updateTotal);

    // Function to update the total amount
    function updateTotal() {
      // Get the values the user typed in the input fields
      const typedAmount = donationAmountInput.value;

      // Convert the input values to valid numbers, or consider them as 0 if not valid numbers
      const amount = parseFloat(typedAmount) || 0;

      // Update the elements to display the typed values with dollar signs
      displayAmountElement.textContent = "$" + amount.toFixed(2);;
    }
  });
</script>
{% if paypal_payment_button_updated %}
<script>
  // Automatically scroll to the bottom of the page
  window.scrollTo(0, document.body.scrollHeight);
</script>
{% endif %}
</body>
</html>