<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&Raleway:wght@400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4db88b2900.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.donation-box').on('keydown', function(e) {
        var keyCode = e.keyCode || e.which;
        
        if (keyCode === 190 || keyCode === 110 || keyCode === 189) {
          e.preventDefault();
          return false;
        }
      });
    });
  </script>
    <script>
      $(document).ready(function() {
        $('.platform-box').on('keydown', function(e) {
          var keyCode = e.keyCode || e.which;
          
          if (keyCode === 190 || keyCode === 110 || keyCode === 189) {
            e.preventDefault();
            return false;
          }
        });
      });
    </script>
  <style>
    input.donation-box::-webkit-inner-spin-button,
input.donation-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Add any additional styling as needed */
}
  </style>
  <style>
      input.platform-box::-webkit-inner-spin-button,
      input.platform-box::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
          /* Add any additional styling as needed */
      }
      </style>
  
 {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our-tube</title>
    <link rel="stylesheet" href="{% static 'donationstyle.css' %}">
   
    <script>
      window.addEventListener('scroll', function() {
        var navbar = document.querySelector('.navbar-testing');
        var menuItems= document.querySelector('.menu-items');
        if (window.scrollY > 0) {
          navbar.classList.add('scrolled');
          menuItems.classList.add('scrolled');
        } else {
          navbar.classList.remove('scrolled');
          menuItems.classList.remove('scrolled');
        }
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
      var dropdown = document.getElementById("dropdown");
      var dropdownContent = document.getElementById("dropdown-content");

      dropdown.addEventListener("click", function() {
        dropdownContent.style.display = (dropdownContent.style.display === "none") ? "block" : "none";
      });

      document.addEventListener("click", function(event) {
        var targetElement = event.target;
        if (!targetElement.closest(".dropdown")) {
          dropdownContent.style.display = "none";
        }
      });
    });
    </script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
</head>
<header>

      <nav class="navbar-testing">
        <div class="logo">
          <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}"></a>
        </div> 
        <ul class="navbar-nav">
       
        <a href="{% url 'user_channel' username=project.user %}" class="vinsmoke"><li><i class="fas fa-arrow-alt-circle-down fa-rotate-90 fa-lg"></i>
            </li></a> 

          {% if user.is_authenticated %}
          <li>
          <div class="dropdown">
            {% if user.profile.cropped_image_data %}
            <img src="{{ user.profile.cropped_image_data.url }}" alt="Button Image" id="dropdown" style="border-radius: 50%; align-self: center;">
            <div class="dropdown-content" id="dropdown-content">
              <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
              <a href="{% url 'logout'%}">Log Out</a>
            {% else %}
            <img src="{% static 'profilepic.png' %}" alt="Button Image" id="dropdown" style="border-radius: 50%;">
            <div class="dropdown-content" id="dropdown-content">
              <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
              <a href="{% url 'logout'%}">Log Out</a>
            {% endif %}
            </div>
          </div>
        </li>
          {% else %}
          <a href="{% url 'login_user' %}" class="vinsmoke"><li>Log in</li></a>
          {% endif %}
          

      </ul>
</header>

<body>
  
<div class="kodakblack">
    <div class="container">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <p style="font-family: 'Lato', sans-serif;">  You're supporting <strong>@{{project.user}}</strong> in</p>
           
          <p style="font-family: 'Lato', sans-serif; text-align: center;"> <strong>{{project.project_title}}</strong></p>

            <img src="{{project.project_thumbnail.url}}" class="thumbnail">

            
              
             

          
       
        
       </div>
       <form method="POST" action="" id="donation-form">
        {% csrf_token %}
                    <div class="joyner">
                        <p style="margin: 0; padding: 0; font-weight: bold; font-family: 'Lato', sans-serif;">Your donation to @{{project.user}}</p>
                        <i class="fa-sharp fa-light fa-dollar-sign fa-2xl nle"></i>   {{form.donation_amount}}
                    </div>
                                      

               
              {%  if not request.user.is_authenticated%}
                <p style="margin: 0; font-size: 0.88rem; color: gray; font-family: 'Lato',sans-serif;">Consider <a href="{% url 'register_user' %}" style="color: gray;"> signing up for free </a> to track your donations and recieve updates on projects you've funded.</p>
                <hr style="width: 100%;">
                   <div class="nunu"> 
                          <div class="bab">
                            {{form.first_name}}
                            {{form.last_name}}
                          </div>
                          {{form.donor_email}}

                      </div>
                
              {% endif %}
          
                    {% if not paypal_payment_button_updated %}
              <button id="view-payment-options-button">View Payment Options</button>
                      {%endif%}
            </form>
          
            {% if paypal_payment_button_updated %}
         
              {{ paypal_payment_button_updated.render }}
           
            {% endif %}
            

    </div>
    
 
</div>




<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the input elements and the element to display the total amount
    const donationAmountInput = document.getElementById("id_donation_amount");
    const displayAmountElement = document.getElementById("display-amount");

    // Add event listeners to the input fields for the "input" event
    donationAmountInput.addEventListener("input", updateTotal);

    // Function to update the total amount
    function updateTotal() {
      // Get the values the user typed in the input fields
      const typedAmount = donationAmountInput.value;

      // Convert the input values to valid numbers, or consider them as 0 if not valid numbers
      const amount = parseFloat(typedAmount) || 0;

      // Update the elements to display the typed values with dollar signs
      displayAmountElement.textContent = "$" + amount.toFixed(2);;
    }
  });
</script>


</body>
</html>