<!DOCTYPE html>

<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/4db88b2900.js" crossorigin="anonymous"></script>
 {% load static %}
 <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
 <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
 <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&Raleway:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Our-Tube</title>
    <link rel="stylesheet" href="{% static 'styleindex.css' %}">
   
    <script>
      window.addEventListener('scroll', function() {
        var navbar = document.querySelector('.navbar-testing');
        var menuItems= document.querySelector('.menu-items');
        if (window.scrollY > 0) {
          navbar.classList.add('scrolled');
          menuItems.classList.add('scrolled');
        } else {
          navbar.classList.remove('scrolled');
          menuItems.classList.remove('scrolled');
        }
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
      var dropdown = document.getElementById("dropdown");
      var dropdownContent = document.getElementById("dropdown-content");

      dropdown.addEventListener("click", function() {
        dropdownContent.style.display = (dropdownContent.style.display === "none") ? "block" : "none";
      });

      document.addEventListener("click", function(event) {
        var targetElement = event.target;
        if (!targetElement.closest(".dropdown")) {
          dropdownContent.style.display = "none";
        }
      });
    });
    </script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
</head>
<header style="margin-bottom: 100px;">

  <nav class="navbar-testing">
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}"></a>
    </div> 
    <ul class="navbar-nav">

      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
       <div class="hudini">  <a href="{% url 'loda' %}" class="vinsmoke"><li>How it Works</li></a></div>
       <div class="hudini">    <a href="{% url 'funding_now' %}" class="vinsmoke"><li><i class="fa fa-search"></i> Funding Now</li></a>  </div>  
        <li></li>
        <li></li>
       <div class="hudini"><a href="{% url 'funding_info' %}"> <button class="donate-btn" style="color: azure; font-weight: bold;"> Start a Project</button></a></div>
         {% if user.is_authenticated %}
         <li>
          <div class="dropdown">
            {% if user.profile.cropped_image_data %}
            <img src="{{ user.profile.cropped_image_data.url }}" alt="Button Image" id="dropdown" style="border-radius: 50%; align-self: center;">
            <div class="dropdown-content" id="dropdown-content">
              <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
              <a href="{% url 'donation_history' %}">Your Donations</a>
              <a href="{% url 'logout'%}">Log Out</a>
            {% else %}
            <img src="{% static 'profilepic.png' %}" alt="Button Image" id="dropdown" style="border-radius: 50%;">
            <div class="dropdown-content" id="dropdown-content">
              <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
              <a href="{% url 'donation_history' %}">Your Donations</a>
              <a href="{% url 'logout'%}">Log Out</a>
            {% endif %}
            </div>
          </div>
       </li>
         {% else %}
         <a href="{% url 'login_user' %}" class="vinsmoke"><li>Login</li></a>
         {% endif %}
         

     </ul>

     <div class="overlay" id="overlay">
      <div class="close-btn">
        <i class="fas fa-times fa-lg"></i>
      </div>
      <div class="menu">
          <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}" style="width: 150px; height:auto;"></a>
        
        <a href="{% url 'funding_now' %}" class="fuck" style="color: black;"> Discover <i class="fa fa-search" style="rotate: 90deg;"></i></a> 
        <a href="{% url 'loda' %}" style="color: black;" class="fuck">How it Works<i class="fas fa-book" style="margin-left: 10px;"></i></a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout'%}"  class="fuck" style="color: black;">Log Out</a>
        {% else %}
         <a href="{% url 'login_user' %}"  class="fuck" style="color: black;">Login <i class="fas fa-user" style="margin-left: 10px;"></i></a>
         {% endif %}
       <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <a href="{% url 'funding_info' %}"> <button class="donate-btn-burger" style="color: azure; font-weight: bold;"> Start a Project</button></a>
      {% if user.is_authenticated %}
      <a href="{% url 'donation_history' %}"> <button class="sign-btn-burger">Donation History</button></a>
      {% else %}
      <a href="{% url 'register_user' %}"> <button class="sign-btn-burger">Sign up</button></a>
      {% endif %}
    </div> 
      </div>
    </div>

</header>
<body>
<section class="content">
 <div class="overall" id="overall">

  <h1 class="cool-transition">Empowering content creators</h1>
  <h1 class="cool-transition">to change lives</h1>
  <a href="{% url 'funding_info' %}"><button class="donate-btn-btn">Start a project</button></a>
  
 </div>  
</section>
<footer style="margin-top:500px">
  <p>&copy; 2023 <a href="{% url 'home' %}" style="text-decoration: underline; color: black;">our-tube.com</a>. All rights reserved.</p>
  <ul>
      <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
      <li>+1 (812)-671 6631</li>
  </ul>
</footer>

</body> 
<script>
  document.querySelector(".menu-btn").addEventListener("click", function () {
    document.getElementById("overlay").style.display = "block";
    document.getElementById("overall").classList.add("hidden");
  });

  document.getElementById("overlay").addEventListener("click", function (event) {
    if (event.target.classList.contains("overlay")) {
      document.getElementById("overlay").style.display = "none";
      document.getElementById("overall").classList.remove("hidden");
    }
  });

  document.querySelector(".close-btn").addEventListener("click", function () {
    document.getElementById("overlay").style.display = "none";
    document.getElementById("overall").classList.remove("hidden");
  });
</script>
</html>