<!DOCTYPE html>

<html lang="en">
<head>
  <meta property="og:title" content="{{project.project_title}}">
    <meta property="og:description" content="{{project.project_description}}">
    <meta property="og:image" content="{{project.project_thumbnail.url}}">
  <script src="https://kit.fontawesome.com/4db88b2900.js" crossorigin="anonymous"></script>
 {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <title>Update: {{update.update_title}} in {{project.project_title}} -{{project.user}}</title>
    <link rel="stylesheet" href="{% static 'testingstyles.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest'%}">
    <script>
      window.addEventListener('scroll', function() {
        var navbar = document.querySelector('.navbar-testing');
        var menuItems= document.querySelector('.menu-items');
        if (window.scrollY > 0) {
          navbar.classList.add('scrolled');
          menuItems.classList.add('scrolled');
        } else {
          navbar.classList.remove('scrolled');
          menuItems.classList.remove('scrolled');
        }
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
      var dropdown = document.getElementById("dropdown");
      var dropdownContent = document.getElementById("dropdown-content");

      dropdown.addEventListener("click", function() {
        dropdownContent.style.display = (dropdownContent.style.display === "none") ? "block" : "none";
      });

      document.addEventListener("click", function(event) {
        var targetElement = event.target;
        if (!targetElement.closest(".dropdown")) {
          dropdownContent.style.display = "none";
        }
      });
    });
    </script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
</head>
<header>

  <nav class="navbar-testing">
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}"></a>
    </div> 
    <ul class="navbar-nav">

      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
       <div class="hudini">  <a href="{% url 'loda' %}" class="vinsmoke"><li>How it Works</li></a></div>
       <div class="hudini">    <a href="{% url 'funding_now' %}" class="vinsmoke"><li><i class="fa fa-search"></i> Funding Now</li></a>  </div>  
        <li></li>
        <li></li>
       <div class="hudini"><a href="{% url 'funding_info' %}"> <button class="donate-btn" style="color: azure; font-weight: bold;"> Start a Project</button></a></div>
         {% if request.user.is_authenticated %}
         <li>
          <div class="dropdown">
            {% if request.user.profile.cropped_image_data %}
            <img src="{{ request.user.profile.cropped_image_data.url }}" alt="Button Image" id="dropdown" style="border-radius: 50%; align-self: center;">
            <div class="dropdown-content" id="dropdown-content">
              <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
              <a href="{% url 'donation_history' %}">Your Donations</a>
              <a href="{% url 'logout'%}">Log Out</a>
            {% else %}
            <img src="{% static 'profilepic.png' %}" alt="Button Image" id="dropdown" style="border-radius: 50%;">
            <div class="dropdown-content" id="dropdown-content">
              <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
              <a href="{% url 'donation_history' %}">Your Donations</a>
              <a href="{% url 'logout'%}">Log Out</a>
            {% endif %}
            </div>
          </div>
       </li>
         {% else %}
         <a href="{% url 'login_user' %}" class="vinsmoke"><li>Login</li></a>
         {% endif %}
         

     </ul>

     <div class="overlayy" id="overlay">
      <div class="close-btn">
        <i class="fas fa-times fa-lg"></i>
      </div>
      <div class="menu">
          <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}" style="width: 150px; height:auto;"></a>
        
        <a href="{% url 'funding_now' %}" class="fuck" style="color: black;"> Discover <i class="fa fa-search" style="rotate: 90deg;"></i></a> 
        <a href="{% url 'loda' %}" style="color: black;" class="fuck">How it Works<i class="fas fa-book" style="margin-left: 10px;"></i></a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout'%}"  class="fuck" style="color: black;">Log Out</a>
        {% else %}
         <a href="{% url 'login_user' %}"  class="fuck" style="color: black;">Login <i class="fas fa-user" style="margin-left: 10px;"></i></a>
         {% endif %}
       <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <a href="{% url 'funding_info' %}"> <button class="donate-btn-burger" style="color: azure; font-weight: bold;"> Start a Project</button></a>
      {% if request.user.is_authenticated %}
      <a href="{% url 'donation_history' %}"> <button class="sign-btn-burger">Donation History</button></a>
      {% else %}
      <a href="{% url 'register_user' %}"> <button class="sign-btn-burger">Sign up</button></a>
      {% endif %}
    </div> 
      </div>
    </div>

</header>
<body>
  {% load humanize %}
    <h2 align="center" class="ash">Update #{{update_number}} in <a href="{% url 'user_channel' username=project.user %}" style="color: #000000;"> {{project.project_title}}</a></h2>

    
<div style="display: flex; flex-direction: row; width: 90vw; margin: auto; gap: 5%; align-items: flex-start;">
  <div class="dek">
      <video controls class="xvid">
          <source src="{{ update.update_video.url }}" type="{{ update.update_video.content_type }}">
          Your browser does not support the video tag.
      </video>
      <p class="title-update">{{update.update_title }}</p>

    
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">

          <div style="display: flex; flex-direction: row; align-items: center; gap: 5px;">
              {% if project.user.profile.cropped_image_data %}
              <img src="{{ project.user.profile.cropped_image_data.url }}" class="xvidpfp"> 
                {% else %}
              <img src ="{% static 'profilepic.png'%}" class="xvidpfp">
                {% endif %}
                <div style="display: flex; flex-direction: column; gap: 3px; margin-left: 3px;">
                  <p class="xvidusername"><a href="{% url 'user_channel' username=project.user %}" style="color: #000000; text-decoration: none; font-weight: 600;">@{{ project.user.username }}</a></p>
                  <p style="margin: 0; color: gray;">{{number_of_subscribers}} subscribers</p>
                </div>     
            </div>
                      {% if is_subscribed %}
              <form method="post" action="{% url 'remove_subscriber' username=project.user.username %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="subscriiibe-button" style="margin-left: 15px;"><i class="fa-solid fa-user-minus " style="margin-right: 2px;"></i> Unsubscribe </button>
              </form> 
              {% else %}
                  {% if request.user.is_authenticated %}
              <form method="post" action="{% url 'add_subscriber' username=project.user.username %}?next={{ request.path }}">
                {% csrf_token %}
              <button type="submit" class="subscriiibe-button" style="margin-left: 15px;"><i class="fa-solid fa-user-plus " style="margin-right: 10px;"></i>Subscribe</button> 
              </form> 
                  {% else %}
              <a href="{% url 'login_user' %}">  <button class="subscriiibe-button" style="margin-left: 15px;"><i class="fa-solid fa-user-plus " style="margin-right: 10px;"></i> subscribe </button>  </a>
                {% endif %}
              {% endif %}
        
              
        </div>


                    <hr style="width: 100%;">
                    <div style="display: flex; flex-direction: column;">
                      <div style="display: flex; flex-direction: row;">
                      <p style="font-family: 'Open sans',sans-serif; font-size: 0.85rem; margin-top: 0.5em; margin-left: 2.5%; margin-right: 2.5%; font-weight: 200;">{{update.views}} views</p>
              
                      <p style="font-family: 'Open sans',sans-serif; font-size: 0.85rem; margin-top: 0.5em; margin-left: 2.5%; margin-right: 2.5%; font-weight: 200;">{{update.updated_at|naturaltime}}</p>
                      </div>
                      <p class="yallah">{{ update.update_description }}</p>
                  </div>
                <hr style="width: 100%;">

                <div class="pekoms"> 
                        <div style="display: flex; flex-direction: column;">

                          <div class="progress-bar-phone">
                            <div id="progress-bar-fill" style="width:{{ percentage }}%"></div>
                          </div>
                          <div style="display: flex; flex-direction: row; gap: 5px; align-items: flex-end; margin-top: 0.5em;">
                            <p class="donation-text-phone">${{project.total_donations}}</p>
                            <p class="pforfundinggoal-phone">raised of ${{ project.funding_goal }} goal</p>
                            
                          </div>
                          <p class="pforfundinggoal-phone" style="color: black; margin-top: 0.4em; margin-bottom: 0.6em;">{{completed_donation_count}} people donated</p>

                          <button class="sexysex-button-phone donate-button" style="margin-bottom: 10px;" ><a href="{% url 'donation_landing_page' project_id=project.id %}" style="text-decoration: none; color: #ffffff;">
                            <i class="fas fa-donate" style="margin-right: 5px;"></i> Donate </a>
                            </button>
                            <!--start of phone menu share button -->

                            <button class="sexysex-button-phone share-button" onclick="openPopup()"><i class="fas fa-share"></i> Share</button>
                            <!--  phone menu share button  -->
                                <div class="popup" id="popup">
                                  <div class="popup-content">
                                    <button class="close-button-phone" onclick="closePopup()"><i class="fas fa-times"></i></button>
                                 
                                    <p style="font-family: 'Lato', sans-serif; font-size: 1.2rem; margin-bottom: 0; margin-left: 5%; margin-right: 5%;">Help by sharing</p>
                                    <p style="font-family: 'Lato', sans-serif; font-size: 0.8rem; line-height: 1.5; margin-bottom: 0;margin-left: 5%; margin-right: 5%;">Paste the link anywhere to support {{project.user}}.<p>
                                    <div style="display: flex; flex-direction: column; width: 90%; margin: auto;">
                                    <hr style="width: 100%; margin-top: 0;">
                                        <div style="display: flex; flex-direction: row ; gap: 20px; align-items: center; margin: 0;">
                                        <a href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri}}" style="text-decoration: none;" target="_blank"> <i class="fab fa-facebook fa-xl" style="color: #1877F2; cursor: pointer; margin: 0;"></i></a>
                                        <a href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri}}" style="text-decoration: none; color: black;" target="_blank"> <p style="margin: 0.5em; font-size: 0.8rem;">Facebook</p></a>
                                        </div>
                                    <hr style="width: 100%;">
                               
                                       <div style="display: flex; flex-direction: row ; gap: 20px; align-items: center; margin: 0;"  onclick="openInstagramSharePopup();">
                                         <i class="fab fa-instagram fa-xl" style="color: #C13584; cursor: pointer;"></i>                 
                                        <p style="margin: 0.5em; font-size: 0.8rem;">Instagram</p>
                                      </div>
                                    </a>
                                <!-- Instagram Share Pop Up -->
                  
                                      <div id="instagram-share-popup" class="instagram-share-popup">
                                      
                                        <span class="instagram-share-close" onclick="closeInstagramSharePopup()">&times;</span>
                                
                  
                                        <div class="instagram-share-content">
                                         
                                            <img src="{% static 'TubeLogo.png' %}" class="logo-image">
                                            <!-- Dynamically generated image -->
                                            <img src="{{project.project_thumbnail.url}}" alt="Project Thumbnail" class="instagram-share-image">
                                          
                                            <!-- Instructions for users -->
                                   <div style="display: flex; flex-direction: column; width: 90%; margin: auto;">
                                              <div style="display: flex; flex-direction: row; gap: 5px; align-items: center; margin-top: 8px;">
                                                {% if project.user.profile.cropped_image_data %}
                                                <img src="{{project.user.profile.cropped_image_data.url}}" style="width: 35px; height: 35px; border-radius: 50%;">
                                                {% else %}
                                                <img src="{% static 'profilepic.png' %}" style="width: 35px; height: 35px; border-radius: 50%;">
                                                {% endif %}
                                                <p style="margin: 0; font-family: 'Lato',sans-serif; font-size: 0.925rem; color: #000;">@{{project.user.username}}</p>
                                              </div>
                                            <p class="instagram-share-instructions">
                                               {{project.project_title}}
                                            </p>
                                            <div class="progress-bar-phone">
                                              <div id="progress-bar-fill" style="width:{{ percentage }}%"></div>
                                            </div>
                                            <p style="color: gray; font-family: 'Lato',sans-serif; font-size: 0.8rem; text-align: left;">${{project.total_donations}} raised</p>
                                  </div>
                  
                  
                                        </div>
                              
                              <div class="sharing-instructions-container">
                                  <p style="text-align: center; font-family: 'Lato',sans-serif; font-weight: 600;width: 80%; margin: auto; margin-top: 1em;">Remember to add the project link to your story!</p>
                                        <div style="display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: center; margin:1em 0;">
                                          <div class="form-input-container-two">
                                            <input type="text" id="link-input-two" readonly>
                                          </div>
                                         <button id="copy-button-two">Copy link</button>
                                        </div>
                                  <button class="instagram-share-button" id="instagram-btn">Continue to Instagram</button>
                  
                                  <div id="screenshot-overlay" class="screenshot-overlay"></div>
                              </div>
                  
                                          
                  
                                    </div>
                  
                                <!-- End of INstagram Share pop up -->
                                    <hr style="width: 100%;">
                                    <div style="display: flex; flex-direction: row ; gap: 20px; align-items: center; margin: 0;">
                                      <a href="https://twitter.com/share?url={{ request.build_absolute_uri | urlencode }}&text={{ project.project_title | urlencode }}" style="text-decoration: none;" target="_blank"> <i class="fab fa-twitter fa-xl" style="color: #1DA1F2; cursor: pointer;"></i></a>
                                      <a href="https://twitter.com/share?url={{ request.build_absolute_uri | urlencode }}&text={{ project.project_title | urlencode }}" style="text-decoration: none; color: black;" target="_blank"><p style="margin: 0.5em; font-size: 0.8rem;">Twitter</p></a>
                                      </div>
                                      <hr style="width: 100%;">
                                      <div style="display: flex; flex-direction: row ; gap: 20px; align-items: center; margin: 0;">
                                        <a href="https://api.whatsapp.com/send?text={{project.project_title}} {{request.build_absolute_uri}}" style="text-decoration: none;" target="_blank"><i class="fab fa-whatsapp fa-xl" style="color: #25D366; cursor: pointer;"></i></a>
                                        <a href="https://api.whatsapp.com/send?text={{project.project_title}} {{request.build_absolute_uri}}" style="text-decoration: none; color: black;" target="_blank"> <p style="margin: 0.5em; font-size: 0.8rem;">Whatsapp</p></a>
                                        </div>
                                        <hr style="width: 100%;">
                                        <div style="display: flex; flex-direction: row ; gap: 20px; align-items: center; margin: 0;">
                                          <a href="https://www.linkedin.com/shareArticle?url={{request.build_absolute_uri}}&title={{project.project_title}}" style="text-decoration: none;" target="_blank"><i class="fab fa-linkedin fa-xl" style="color: #0077B5;"></i></a>
                                          <a href="https://www.linkedin.com/shareArticle?url={{request.build_absolute_uri}}&title={{project.project_title}}" style="text-decoration: none; color: black;" target="_blank"><p style="margin: 0.5em; font-size: 0.8rem;">LinkedIn</p></a>
                                          </div>
                                          <hr style="width: 100%;">
                                               <div style="display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: center; margin-top: 2.5em;">
                                              <div class="form-input-container">
                                                <input type="text" id="link-input" readonly>
                                              </div>
                                              <button id="copy-button">Copy link</button>
                                            </div>
                                   
                                    
                                    </div>
                                  </div>
                                </div>
                              <!--
                    
                              -->
                            <!--  phone menu share button end  -->

                            <!-- end of phone menu share button -->
                         


                        </div>

                
                        <hr>
                        {% if channel_owner %}
                        <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
                        {% if project.user.profile.cropped_image_data %}
                          <img src="{{project.user.profile.cropped_image_data.url}}" style="width: 55px; height: 55px; border-radius: 50%;">
                        {% else %}
                          <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
                        {% endif %}
                            <div style="display: flex; flex-direction: column; gap: 1.5vh;">
                              <a href="{% url 'user_channel' username=project.user.username %}" style="text-decoration: none; color: #000000;"> <p style="margin: 0;">@{{ project.user.username }}</p></a>
                                  <div style="display: flex; flex-direction: row; gap: 2vw;">
                                <p style="margin: 0; font-weight: bold;">${{channel_owner_donation.donation_amount}} </p>
                                <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end;">   Creator Contribution         </p>
                                   </div>
                            </div>
                        </div>
                      {% endif %}
                      {% if highest_donation %}
                        {% if highest_donation.donor %}
                        <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
                        {% if highest_donation.donor.profile.cropped_image_data %}
                          <img src="{{highest_donation.donor.profile.cropped_image_data.url}}" style="width: 55px; height: 55px; border-radius: 50%;">
                        {% else %}
                         <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
                         {% endif %}
                            <div style="display: flex; flex-direction: column; gap: 1.5vh;">
                      <a href="{% url 'user_channel' username=highest_donation.donor.username %}" style="text-decoration: none; color: #000000;"><p style="margin: 0;">@{{ highest_donation.donor.username }}</p></a>        
                                 <div style="display: flex; flex-direction: row; gap: 2vw;">
                                   <p style="margin: 0; font-weight: bold;">${{highest_donation.donation_amount}}</p>
                                   <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">   Top Contribution     </p>
                                 </div>
                            </div>
                        </div>
                        {% else %}
                        <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
                          <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
                          <div style="display: flex; flex-direction: column; gap: 1.5vh;">
                          <p style="margin: 0;">{{ highest_donation.name }}</p>       
                                       <div style="display: flex; flex-direction: row; gap: 2vw;">
                                         <p style="margin: 0; font-weight: bold;">${{highest_donation.donation_amount}}</p>
                                         <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">   Top Contribution     </p>
                                       </div>
                                  </div>
                              </div>
                        {% endif %}
                        {% endif %}
                   
                      
                      {% if most_recent_donation %}
                              {% if most_recent_donation.donor %}
                      <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
                      {% if most_recent_donation.donor.profile.cropped_image_data %}
                        <img src="{{most_recent_donation.donor.profile.cropped_image_data.url}}" style="width: 55px; height: 55px; border-radius: 50%;">
                      {% else %}
                       <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
                       {% endif %}
                          <div style="display: flex; flex-direction: column; gap: 1.5vh;">
                    <a href="{% url 'user_channel' username=most_recent_donation.donor.username %}" style="text-decoration: none; color: #000000;"><p style="margin: 0;">@{{ most_recent_donation.donor.username }}</p></a>        
                               <div style="display: flex; flex-direction: row; gap: 1vw;">
                                 <p style="margin: 0; font-weight: bold;">${{most_recent_donation.donation_amount}}</p>
                                 <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">   Most Recent     </p>
                              
                                </div>
                          </div>
                      </div>
                      {% else %}
                      <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
                        <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
                        <div style="display: flex; flex-direction: column; gap: 1.5vh;">
                          <p style="margin: 0;">{{ most_recent_donation.name }}</p>        
                                     <div style="display: flex; flex-direction: row; gap: 1vw;">
                                       <p style="margin: 0; font-weight: bold;">${{most_recent_donation.donation_amount}}</p>
                                       <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">   Most Recent     </p>
                                    
                                      </div>
                                </div>
                            </div>
                      {% endif %}
                      {% endif %}
                <!-- start of phone see all button -->
                <div style="display: flex; flex-direction: row; align-items: center; margin-top: 15px; justify-content: center;">
                  <button onclick="allDonations_openPopup_phone()" class="all_donations-trigger">See all</button>
                </div>
      
                  <!-- The pop-up container for all donations on small screen -->
              <div id="all_donations-popup-phone" class="all_donations-popup-phone">
                    <span class="all_donations-close-phone" onclick="allDonations_closePopup_phone()">&times;</span>
                    <h2 style="padding: 10px; margin-bottom: 0; padding-bottom: 0;">Donations ({{all_donations.count}})</h2>
              <div style="display: flex; flex-direction: column; justify-content: space-between; padding-left: 10px; padding-top: 10px; margin-bottom: 0;">
      
                {% for donation in all_donations %}
                    {% if donation.donor %}
                    <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
                    {% if donation.donor.profile.cropped_image_data %}
                      <img src="{{donation.donor.profile.cropped_image_data.url}}" style="width: 55px; height: 55px; border-radius: 50%;">
                    {% else %}
                     <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
                     {% endif %}
                        <div style="display: flex; flex-direction: column; gap: 1.5vh;">
                  <a href="{% url 'user_channel' username=donation.donor.username %}" style="text-decoration: none; color: #000000;"><p style="margin: 0;">@{{ donation.donor.username }}</p></a>        
                             <div style="display: flex; flex-direction: row; gap: 2vw;">
                               <p style="margin: 0; font-weight: bold;">${{donation.donation_amount}}</p>
                               <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">  {{donation.donation_date|naturaltime}}   </p>
                             </div>
                        </div>
                    </div>
                  {% else %}
                  <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
                    <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
                    <div style="display: flex; flex-direction: column; gap: 1.5vh;">
                    <p style="margin: 0;">{{ donation.name }}</p>     
                                 <div style="display: flex; flex-direction: row; gap: 2vw;">
                                   <p style="margin: 0; font-weight: bold;">${{donation.donation_amount}}</p>
                                   <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">  {{donation.donation_date|naturaltime}}     </p>
                                 </div>
                            </div>
                        </div>
      
                  {% endif %}
                  {% endfor %}
              </div>
                  <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                    <a href="{% url 'donation_landing_page' project_id=project.id %}" style="text-decoration: none; color: #ffffff; padding: 20px;"><button class="sexysex-button-phone donate-button" style="margin-top: 30px; width: 90vw;"><i class="fas fa-donate" style="margin-right: 5px;"></i> Donate</button></a>
                  </div>
                </div>
                <!--end of phone see all button -->
                    
                         
                
                            <hr style="width: 100%;">
                    </div>
                    <p>Comments ({{comment_count}})</p>

                    {% if not update.updatecomments.all %}
                              <p style="margin-bottom: 0; display: flex; justify-content: center; align-items: center;">No comments yet...</p>
                  
                                {% if user.is_authenticated %}
                  
                                <form class="comment-form" method="POST" action="">
                                  {% csrf_token %}
                                  <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; width: 100%; margin-bottom: 4vh;">
                                    {% if user.profile.cropped_image_data %}
                                    <img src="{{user.profile.cropped_image_data.url}}" style="border-radius: 50%; height: 55px; width: 55px;">
                                    {% else %}
                                    <img src="{% static 'profilepic.png' %}" style="border-radius: 50%; height: 55px; width: 55px;">
                                    {% endif %}
                                
                                      <div style="display: flex; flex-direction: column;">
                                        {{ comment_form.as_p }}
                                        <button type="submit" >Comment</button>
                                      </div>
                                  </div>
                                  
                                </form>
                  
                                {% else %}
                  
                                <h3> <a href="{% url 'login_user' %}" style="text-decoration: underline;">Log in</a> to comment.</h3><br>
                  
                                {% endif %}
                              {% else %}
                  
                              <!-- Iterate over comments and display them -->
                              {% if user.is_authenticated %}
                              <form class="comment-form" method="POST" action="">
                                {% csrf_token %}
                                <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; width: 100%; margin-bottom: 4vh;">
                                  {% if user.profile.cropped_image_data %}
                                  <img src="{{user.profile.cropped_image_data.url}}" style="border-radius: 50%; height: 55px; width: 55px;">
                                  {% else %}
                                  <img src="{% static 'profilepic.png' %}" style="border-radius: 50%; height: 55px; width: 55px;">
                                  {% endif %}
                              
                                    <div style="display: flex; flex-direction: column;">
                                      {{ comment_form.as_p }}
                                      <button type="submit" >Comment</button>
                                    </div>
                                </div>
                                
                              </form>
                              {% else %}
                  
                              <h3><a href="{% url 'login_user' %}" style="text-decoration: underline;">Log in</a> to comment. </h3><br>
                  
                              {% endif %}
                  
                  
                              {% for updatecomment in update.updatecomments.all %}
                                <div class="comment">
                                  {% if updatecomment.user.profile.cropped_image_data %}
                                  <img src="{{ updatecomment.user.profile.cropped_image_data.url }}" alt="Profile Picture" style="border-radius: 50%; height: 55px; width: 55px;">
                                  {% else %}
                                  <img src="{% static 'profilepic.png' %}" style="border-radius: 50%; height: 55px; width: 55px;">
                                  {% endif %}
                                                  <div style="display: flex; flex-direction: column;"> 
                                                      <div class="comment-header">
                                                      <strong> <a href="{% url 'user_channel' username=updatecomment.user.username %}" style="text-decoration: none; cursor: pointer; color: inherit;"> <p>@{{ updatecomment.user.username }}</p></a></strong>
                                                        <p style="color: gray;">{{ updatecomment.created_at }}</p>
                                                      </div>
                                                      <div class="comment-body">
                                                        <p>{{ updatecomment.body }}</p>
                                                      </div>
                                                  </div>
                                                </div>
                  
                              {% endfor %}
                              {% endif %}
      </div> 
    
  
    

    <div class="sexy-hot-container">

      <div style="display: flex; flex-direction: row; gap: 5px; justify-content: center; align-items: flex-end; margin: 0;">
      <p style="font-size: 1.5rem; font-family: 'Lato', sans-serif; margin: 0;">${{project.total_donations}}</p>
   
          <p class="pforfundinggoal" style="margin: 0;">raised of ${{ project.funding_goal }} goal</p>
     
  
      </div>
  
  
      <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: auto; width: 24vw; gap: 20px;">
        
        <div class="progress-bar">
          <div id="progress-bar-fill" style="width:{{ percentage }}%"></div>
        </div>
        
       <!--start of share button on big screen-->
       <button id="open-lightbox-btn" class="sexysex-button share-button">
        <i class="fas fa-share"></i> Share
        </button>

            <!-- Lightbox Overlay -->
<div class="overlay" id="overlay-share"></div>

<!-- Lightbox Container -->
<div class="lightbox-container" id="lightbox-container">
<span id="close-btn">&times;</span>
<div class="lightbox-content">
 <!-- Add your lightbox content here -->
<p style="font-family: 'Lato', sans-serif; font-size: 1.5rem; margin-bottom: 0;">Help by sharing</p>
<p style="font-family: 'Lato', sans-serif;">Paste the link anywhere to support {{project.user}}.<p>
<hr style="width: 100%; margin-bottom: 2em;">
 <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
  <a href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri}}" style="text-decoration: none;" target="_blank"> <i class="fab fa-facebook fa-2xl" style="color: #1877F2; cursor: pointer;"></i></a>
  <a href="instagram-stories://camera" target="_blank" style="text-decoration: none;"> <i class="fab fa-instagram fa-2xl" style="color: #C13584; cursor: pointer;"></i></a>
  <a href="https://twitter.com/share?url={{request.build_absolute_uri}}&text={{project.project_title}}" style="text-decoration: none;" target="_blank"> <i class="fab fa-twitter fa-2xl" style="color: #1DA1F2; cursor: pointer;"></i></a>
  <a href="https://api.whatsapp.com/send?text={{project.project_title}} {{request.build_absolute_uri}}" style="text-decoration: none;" target="_blank"><i class="fab fa-whatsapp fa-2xl" style="color: #25D366; cursor: pointer;"></i></a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-linkedin fa-2xl" style="color: #0077B5;"></i></a>
</div>
<div style="display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: center; margin-top: 2.5em;">
<div class="form-input-container-com">
 <input type="text" id="link-input-com" readonly>
</div>
<button id="copy-button-com">Copy link</button>
</div>
</div>
</div>

       <!--end of share button on big screen -->



         <a href="{% url 'donation_landing_page' project_id=project.id %}" style="text-decoration: none; color: #ffffff;"> <button class="sexysex-button donate-button" >
      <i class="fas fa-donate" style="margin-right: 5px;"></i> Donate </button> </a>
     
      <div class="donation-info">
      <p class="donation-text">{{completed_donation_count}} people donated</p>
      </div>
  
        </div>
      <hr>
      {% if channel_owner %}
      <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
      {% if project.user.profile.cropped_image_data %}
        <img src="{{project.user.profile.cropped_image_data.url}}" style="width: 55px; height: 55px; border-radius: 50%;">
      {% else %}
        <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
      {% endif %}
          <div style="display: flex; flex-direction: column; gap: 1.5vh;">
            <a href="{% url 'user_channel' username=project.user.username %}" style="text-decoration: none; color: #000000;"> <p style="margin: 0;">@{{ project.user.username }}</p></a>
                <div style="display: flex; flex-direction: row; gap: 2vw;">
              <p style="margin: 0; font-weight: bold;">${{channel_owner_donation.donation_amount}} </p>
              <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end;">   Creator Contribution         </p>
                 </div>
          </div>
      </div>
    {% endif %}
    {% if highest_donation %}
      {% if highest_donation.donor %}
      <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
      {% if highest_donation.donor.profile.cropped_image_data %}
        <img src="{{highest_donation.donor.profile.cropped_image_data.url}}" style="width: 55px; height: 55px; border-radius: 50%;">
      {% else %}
       <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
       {% endif %}
          <div style="display: flex; flex-direction: column; gap: 1.5vh;">
    <a href="{% url 'user_channel' username=highest_donation.donor.username %}" style="text-decoration: none; color: #000000;"><p style="margin: 0;">@{{ highest_donation.donor.username }}</p></a>        
               <div style="display: flex; flex-direction: row; gap: 2vw;">
                 <p style="margin: 0; font-weight: bold;">${{highest_donation.donation_amount}}</p>
                 <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">   Top Contribution     </p>
               </div>
          </div>
      </div>
    {% else %}
    <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
      <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
      <div style="display: flex; flex-direction: column; gap: 1.5vh;">
      <p style="margin: 0;">{{ highest_donation.name }}</p>     
                   <div style="display: flex; flex-direction: row; gap: 2vw;">
                     <p style="margin: 0; font-weight: bold;">${{highest_donation.donation_amount}}</p>
                     <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">   Top Contribution     </p>
                   </div>
              </div>
          </div>

    {% endif %}
    {% endif %}
    {% if most_recent_donation %}
      {% if most_recent_donation.donor %}
      <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
      {% if most_recent_donation.donor.profile.cropped_image_data %}
        <img src="{{most_recent_donation.donor.profile.cropped_image_data.url}}" style="width: 55px; height: 55px; border-radius: 50%;">
        {% else %}
        <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
      {% endif %}
          <div style="display: flex; flex-direction: column; gap: 1.5vh;">
            <a href="{% url 'user_channel' username=most_recent_donation.donor.username %}" style="text-decoration: none; color: #000000;"><p style="margin: 0;">@{{ most_recent_donation.donor.username }}</p></a>
              <div style="display: flex; flex-direction: row; gap: 1vw;">
              <p style="margin: 0; font-weight: bold;">${{most_recent_donation.donation_amount}}</p>
              <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end;">  Most Recent  </p>
              </div>
          </div>
      </div>
      {% else %}
      <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
        <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
        <div style="display: flex; flex-direction: column; gap: 1.5vh;">
         <p style="margin: 0;">{{ most_recent_donation.name }}</p>
            <div style="display: flex; flex-direction: row; gap: 1vw;">
            <p style="margin: 0; font-weight: bold;">${{most_recent_donation.donation_amount}}</p>
            <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end;">  Most Recent  </p>
            </div>
        </div>
    </div>
      
      {% endif %}
      {% endif %}
      <!--start of big screen see all-->
      <div style="display: flex; flex-direction: row; align-items: center; margin-top: 15px; justify-content: center;">
        <button onclick="allDonations_openPopup()" class="all_donations-trigger">See all</button>
      </div>

        <!-- The pop-up container for all donations on big screen -->
        <div id="all_donations-overlay" class="all_donations-overlay"></div>
    <div id="all_donations-popup" class="all_donations-popup">
          <span class="all_donations-close" onclick="allDonations_closePopup()">&times;</span>
          <h2>Donations ({{all_donations.count}})</h2>
    <div style="display: flex; flex-direction: column; justify-content: space-between;">

      {% for donation in all_donations %}
          {% if donation.donor %}
          <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
          {% if donation.donor.profile.cropped_image_data %}
            <img src="{{donation.donor.profile.cropped_image_data.url}}" style="width: 55px; height: 55px; border-radius: 50%;">
          {% else %}
           <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
           {% endif %}
              <div style="display: flex; flex-direction: column; gap: 1.5vh;">
        <a href="{% url 'user_channel' username=donation.donor.username %}" style="text-decoration: none; color: #000000;"><p style="margin: 0;">@{{ donation.donor.username }}</p></a>        
                   <div style="display: flex; flex-direction: row; gap: 2vw;">
                     <p style="margin: 0; font-weight: bold;">${{donation.donation_amount}}</p>
                     <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">  {{donation.donation_date|naturaltime}}   </p>
                   </div>
              </div>
          </div>
        {% else %}
        <div style="display: flex; flex-direction: row; gap: 2vw; align-items: center; margin-top: 15px;">
          <img src="{% static 'profilepic.png' %}" style="width: 55px; height: 55px; border-radius: 50%;">
          <div style="display: flex; flex-direction: column; gap: 1.5vh;">
          <p style="margin: 0;">{{ donation.name }}</p>     
                       <div style="display: flex; flex-direction: row; gap: 2vw;">
                         <p style="margin: 0; font-weight: bold;">${{donation.donation_amount}}</p>
                         <p style="margin:0; color: gray; font-size: 0.8rem; align-self: flex-end; ">  {{donation.donation_date|naturaltime}}     </p>
                       </div>
                  </div>
              </div>

        {% endif %}
        {% endfor %}
    </div>
    <a href="{% url 'donation_landing_page' project_id=project.id %}" style="text-decoration: none; color: #ffffff;"><button class="sexysex-button-phone donate-button" style="margin-top: 25px;"><i class="fas fa-donate" style="margin-right: 5px;"></i> Donate</button></a>
        </div>
      <!-- end of big screen see all -->
  </div>
  </div>




</div>






<script>
    document.querySelector(".menu-btn").addEventListener("click", function () {
      document.getElementById("overlay").style.display = "block";
    });
    
    document.getElementById("overlay").addEventListener("click", function (event) {
      if (event.target.classList.contains("overlay")) {
        document.getElementById("overlay").style.display = "none";
      }
    });
    
    document.querySelector(".close-btn").addEventListener("click", function () {
      document.getElementById("overlay").style.display = "none";
    });
    </script>

<script>
  // Open the pop-up
  function allDonations_openPopup_phone() {
    var overlay = document.getElementById("all_donations-overlay");
    var popup = document.getElementById("all_donations-popup-phone");
    var body = document.body;
    overlay.style.display = "block";
    popup.style.display = "block";
    body.classList.add("no-scroll");
    overlay.addEventListener("click", allDonations_closePopup_phone);
  }

  // Close the pop-up
  function allDonations_closePopup_phone() {
    var overlay = document.getElementById("all_donations-overlay");
    var popup = document.getElementById("all_donations-popup-phone");
    var body = document.body;
    overlay.style.display = "none";
    popup.style.display = "none";
    body.classList.remove("no-scroll");
    overlay.removeEventListener("click", allDonations_closePopup_phone);
  }
</script>

<!-- POP UP FOR ALL DONATIONS ON BIG SCREEN-->

<script>
  // Open the pop-up
  function allDonations_openPopup() {
    var overlay = document.getElementById("all_donations-overlay");
    var popup = document.getElementById("all_donations-popup");
    var body = document.body;
    overlay.style.display = "block";
    popup.style.display = "block";
    body.classList.add("no-scroll");
    overlay.addEventListener("click", allDonations_closePopup);
  }

  // Close the pop-up
  function allDonations_closePopup() {
    var overlay = document.getElementById("all_donations-overlay");
    var popup = document.getElementById("all_donations-popup");
    var body = document.body;
    overlay.style.display = "none";
    popup.style.display = "none";
    body.classList.remove("no-scroll");
    overlay.removeEventListener("click", allDonations_closePopup);
  }
</script>

<!-- light box script for big screen  -->
<script>
  // javascript.js
document.addEventListener("DOMContentLoaded", function () {
  // Get the button and lightbox elements
  const openLightboxBtn = document.getElementById("open-lightbox-btn");
  const overlay = document.getElementById("overlay-share");
  const lightboxContainer = document.getElementById("lightbox-container");
  const closeBtn = document.getElementById("close-btn");

  // Function to open the lightbox
  function openLightbox() {
    overlay.style.display = "block";
    lightboxContainer.style.display = "block";
    document.body.style.overflow = "hidden";
  }

  // Function to close the lightbox
  function closeLightbox() {
    overlay.style.display = "none";
    lightboxContainer.style.display = "none";
    document.body.style.overflow = "auto";
  }

  // Event listeners
  openLightboxBtn.addEventListener("click", openLightbox);
  closeBtn.addEventListener("click", closeLightbox);
  overlay.addEventListener("click", closeLightbox);
});

</script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const linkInput = document.getElementById("link-input-com");
    const copyButton = document.getElementById("copy-button-com");
  
    // Set the value of the input field to the current URL when the page loads
    linkInput.value = window.location.href;
  
    // Function to handle text selection
    function preventTextSelection(event) {
      event.preventDefault();
      window.getSelection().removeAllRanges();
    }
  
    // Add an event listener to prevent text selection
    linkInput.addEventListener("select", preventTextSelection);
  
    // Event listener for the "Copy" button
    copyButton.addEventListener("click", function () {
      linkInput.select();
      document.execCommand("copy");
      // Optionally, provide some visual feedback to indicate that the link is copied
      copyButton.textContent = "Copied!";
      setTimeout(function () {
        copyButton.textContent = "Copy";
      }, 2000); // Reset the button text after 2 seconds
    });
  });
  
  
  </script>
<!-- phone pop up share button -->
<script>
  function openPopup() {
  const popup = document.getElementById('popup');
  popup.style.display = 'block';
}

function closePopup() {
  const popup = document.getElementById('popup');
  popup.style.display = 'none';
}
</script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const linkInput = document.getElementById("link-input-two");
    const copyButton = document.getElementById("copy-button-two");
  
    // Set the value of the input field to the current URL when the page loads
    linkInput.value = window.location.href;
  
    // Function to handle text selection
    function preventTextSelection(event) {
      event.preventDefault();
      window.getSelection().removeAllRanges();
    }
  
    // Add an event listener to prevent text selection
    linkInput.addEventListener("select", preventTextSelection);
  
    // Event listener for the "Copy" button
    copyButton.addEventListener("click", function () {
      linkInput.select();
      document.execCommand("copy");
      // Optionally, provide some visual feedback to indicate that the link is copied
      copyButton.textContent = "Copied!";
      setTimeout(function () {
        copyButton.textContent = "Copy";
      }, 2000); // Reset the button text after 2 seconds
    });
  });
  
  
  </script>

  
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const linkInput = document.getElementById("link-input");
    const copyButton = document.getElementById("copy-button");
  
    // Set the value of the input field to the current URL when the page loads
    linkInput.value = window.location.href;
  
    // Function to handle text selection
    function preventTextSelection(event) {
      event.preventDefault();
      window.getSelection().removeAllRanges();
    }
  
    // Add an event listener to prevent text selection
    linkInput.addEventListener("select", preventTextSelection);
  
    // Event listener for the "Copy" button
    copyButton.addEventListener("click", function () {
      linkInput.select();
      document.execCommand("copy");
      // Optionally, provide some visual feedback to indicate that the link is copied
      copyButton.textContent = "Copied!";
      setTimeout(function () {
        copyButton.textContent = "Copy";
      }, 2000); // Reset the button text after 2 seconds
    });
  });
  
  
  </script>
  
<!-- Screenshot thingy script -->
<script>
  const srcElement = document.getElementById("instagram-share-popup");
  const shareButton = document.getElementById("instagram-btn");

  shareButton.addEventListener("click", () => {
    // Hide the elements you want to hide
    document.querySelector('.instagram-share-close').style.display = 'none';
    document.querySelector('.sharing-instructions-container').style.display = 'none';

    // Create a temporary duplicate of the logo image


    // Replace the original logo with the temporary logo


    // Capture a screenshot of the specified element
    html2canvas(srcElement).then(canvas => {
      // Show the hidden elements again
      document.querySelector('.instagram-share-close').style.display = 'block';
      document.querySelector('.sharing-instructions-container').style.display = 'block';

      // Instagram story redirect
      const instaLink = 'instagram-stories://camera';
      document.getElementById("instagram-btn").setAttribute("href", instaLink);
      // Download the screenshot as an image
      const a = document.createElement("a");
      a.href = canvas.toDataURL();
      a.download = "screenshot.jpg";
      a.click();

    });
  });
</script>






<script>
// Open Instagram sharing pop-up
function openInstagramSharePopup() {
    var popup = document.getElementById("instagram-share-popup");
    popup.style.display = "block";
    disablePageScrolling();
}

// Close Instagram sharing pop-up
function closeInstagramSharePopup() {
    var popup = document.getElementById("instagram-share-popup");
    popup.style.display = "none";
    enablePageScrolling();
}

// Disable page scrolling when pop-up is open
function disablePageScrolling() {
    document.body.style.overflow = "hidden";
}

// Enable page scrolling when pop-up is closed
function enablePageScrolling() {
    document.body.style.overflow = "auto";
}

  
</script>  
</body>
</html>