<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/4db88b2900.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load widget_tweaks %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'fundingnowstyle.css' %}">
    <link rel="stylesheet" href="{% static 'testingstyles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&Raleway:wght@400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;600&family=Raleway:wght@400;600&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mCE1kFjAF8wwDZTG0apORHo2O5RAIDFZkHj7XQPhyY12hNl0ttxQ1uqg29UC9H/b" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;600&display=swap" rel="stylesheet">

    <script>
        window.addEventListener('scroll', function() {
          var navbar = document.querySelector('.navbar-testing');
          var menuItems= document.querySelector('.menu-items');
          if (window.scrollY > 0) {
            navbar.classList.add('scrolled');
            menuItems.classList.add('scrolled');
          } else {
            navbar.classList.remove('scrolled');
            menuItems.classList.remove('scrolled');
          }
        });
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
        var dropdown = document.getElementById("dropdown");
        var dropdownContent = document.getElementById("dropdown-content");
  
        dropdown.addEventListener("click", function() {
          dropdownContent.style.display = (dropdownContent.style.display === "none") ? "block" : "none";
        });
  
        document.addEventListener("click", function(event) {
          var targetElement = event.target;
          if (!targetElement.closest(".dropdown")) {
            dropdownContent.style.display = "none";
          }
        });
      });
      </script>
      <script>
        function handleFileSelect(event) {
          var files = event.target.files;
          if (files.length > 0) {
            var fileName = files[0].name;
            document.getElementById("videoName").textContent = fileName;
            document.getElementById("hiddenFormVideo").files = event.target.files;
          }
        }
      
        function openFileSelector() {
          document.getElementById("fileInput").click();
        }
      </script>
      <style>
        @import url('https://fonts.cdnfonts.com/css/youtube-sans');
        </style>
      <link href="https://fonts.cdnfonts.com/css/youtube-sans" rel="stylesheet">
      
</head>
   
<header>

  <nav class="navbar-testing">
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}"></a>
    </div> 
    <ul class="navbar-nav">

      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
       <div class="hudini">  <a href="{% url 'loda' %}" class="vinsmoke"><li>How it Works</li></a></div>
       <div class="hudini">    <a href="{% url 'funding_now' %}" class="vinsmoke"><li><i class="fa fa-search"></i> Funding Now</li></a>  </div>  
        <li></li>
        <li></li>
       <div class="hudini"><a href="{% url 'funding_info' %}"> <button class="donate-btn" style="color: azure; font-weight: bold;"> Start a Project</button></a></div>
       {% if request.user.is_authenticated %}
       <li>
        <div class="dropdown">
          {% if request.user.profile.cropped_image_data %}
          <img src="{{ request.user.profile.cropped_image_data.url }}" alt="Button Image" id="dropdown" style="border-radius: 50%; align-self: center;">
          <div class="dropdown-content" id="dropdown-content">
            <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
            <a href="{% url 'donation_history' %}">Your Donations</a>
            <a href="{% url 'logout'%}">Log Out</a>
          {% else %}
          <img src="{% static 'profilepic.png' %}" alt="Button Image" id="dropdown" style="border-radius: 50%;">
          <div class="dropdown-content" id="dropdown-content">
            <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
            <a href="{% url 'donation_history' %}">Your Donations</a>
            <a href="{% url 'logout'%}">Log Out</a>
          {% endif %}
          </div>
        </div>
     </li>
       {% else %}
       <a href="{% url 'login_user' %}" class="vinsmoke"><li>Login</li></a>
       {% endif %}
         

     </ul>

     <div class="overlayy" id="overlay">
      <div class="close-btn">
        <i class="fas fa-times fa-lg"></i>
      </div>
      <div class="menu">
          <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}" style="width: 150px; height:auto;"></a>
        
        <a href="{% url 'funding_now' %}" class="fuck" style="color: black;"> Discover <i class="fa fa-search" style="rotate: 90deg;"></i></a> 
        <a href="{% url 'loda' %}" style="color: black;" class="fuck">How it Works<i class="fas fa-book" style="margin-left: 10px;"></i></a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout'%}"  class="fuck" style="color: black;">Log Out</a>
        {% else %}
         <a href="{% url 'login_user' %}"  class="fuck" style="color: black;">Login <i class="fas fa-user" style="margin-left: 10px;"></i></a>
         {% endif %}
       <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <a href="{% url 'funding_info' %}"> <button class="donate-btn-burger" style="color: azure; font-weight: bold;"> Start a Project</button></a>
      {% if user.is_authenticated %}
      <a href="{% url 'donation_history' %}"> <button class="sign-btn-burger">Donation History</button></a>
      {% else %}
      <a href="{% url 'register_user' %}"> <button class="sign-btn-burger">Sign up</button></a>
      {% endif %}
    </div> 
      </div>
    </div>

</header>
<body>

  
  <div class="bigdog">
      
    {% if user.profile.cropped_image_data %}
          <img src="{{ user.profile.cropped_image_data.url }}" class="toosexy">
    {% else %}
          <img src="{% static 'profilepic.png' %}" class="toosexy">
    {% endif %}


<div class="ng">
<div class="channelhead">
  <div class="tara">

<p  class="usernamae"><a href="{% url 'user_channel' username=user.username %}" style="text-decoration: none; color: black;">{{user.username}}</p></a>
 
                       <div style="display: flex; flex-direction: row; align-items: center; gap: 2vw;">
                          <p class="shenanigans"> {{user.profile.subscribers.count}} Subscribers  </p>
                          <p class="shenanigans" style="text-decoration: underline; cursor: pointer;"><a href="{% url 'completed_projects' username=user.username %}" style="color: gray;">{{completed_projects_count}} Completed projects</p></a>
                        </div>

          {% if user.profile.bio %}
          <p class="shenanigans">{{user.profile.bio}}</p>
          {% endif %}  
          <div class="rick">
          {% if user.id == request.user.id  %}
          <a href="{% url 'channel_customization' %}"> <button class="sexy-button"><i class="fas fa-cog fa-xl" style="margin-right: 10px;"></i>Customize Channel</button></a>  
          {% else %}
          {% if is_subscribed %}
          <form method="post" action="{% url 'remove_subscriber' username=user.username %}">
            {% csrf_token %}
            <button type="submit" class="subscribe-button"><i class="fa-solid fa-user-minus " style="margin-right: 10px;"></i> Unsubscribe </button>
          </form> 
          {% else %}
              {% if request.user.is_authenticated %}
          <form method="post" action="{% url 'add_subscriber' username=user.username %}">
            {% csrf_token %}
          <button type="submit" class="subscribe-button"><i class="fa-solid fa-user-plus " style="margin-right: 10px;"></i>Subscribe</button> 
          </form> 
              {% else %}
          <a href="{% url 'login_user' %}">  <button class="subscribe-button"><i class="fa-solid fa-user-plus " style="margin-right: 10px;"></i> subscribe </button>  </a>
            {% endif %}
          {% endif %}
           {% endif %}    
      </div>
</div>



</div>


</div>

</div>


<hr class="hara">
<div class="nuts">
{% if user.id == request.user.id  %}
<a href="{% url 'channel_customization' %}"> <button class="sexy-button"><i class="fas fa-cog fa-xl" style="margin-right: 10px;"></i>Customize Channel</button></a>  
{% else %}
{% if is_subscribed %}
<form method="post" action="{% url 'remove_subscriber' username=user.username %}">
{% csrf_token %}
<button type="submit" class="subscribe-button"><i class="fa-solid fa-user-minus " style="margin-right: 10px;"></i> Unsubscribe </button>
</form> 
{% else %}
{% if request.user.is_authenticated %}
<form method="post" action="{% url 'add_subscriber' username=user.username %}">
{% csrf_token %}
<button type="submit" class="subscribe-button"><i class="fa-solid fa-user-plus " style="margin-right: 10px;"></i>Subscribe</button> 
</form> 
{% else %}
<a href="{% url 'login_user' %}">  <button class="subscribe-button"><i class="fa-solid fa-user-plus " style="margin-right: 10px;"></i> subscribe </button>  </a>
{% endif %}
{% endif %}
{% endif %}
</div> 



<br><br>
<div class="row">
    {% if completed_projects %}
  {% for project in completed_projects %}
    <div class="col-md-4">
      <a href="{% url 'completed_channel' username=user.username project_id=project.pk %}" style="text-decoration: none;">
        <div class="cuntainer">
          <!-- Display project information here -->
          <img src="{{ project.project_thumbnail.url }}" style="height: 40%; width: auto;">
          <h2 class="titss">{{ project.project_title }}</h2>
          <div class="container">
            <p class="description">{{ project.project_description }}</p>
          </div>
            <br>
          <div style="margin-top: auto; margin-bottom: 15px;">
            <div style="display: flex; flex-direction: row; margin-left: 10px; align-items: center; gap: 10px;">
              {% if project.user.profile.cropped_image_data %}
          <img src="{{ project.user.profile.cropped_image_data.url }}" style="width: 30px; height: 30px; border-radius: 50%;"> 
              {% else %}
          <img src ="{% static 'profilepic.png'%}" style="width: 30px; height: 30px; border-radius: 50%;">
              {% endif %}
          <p class="username">{{ project.user.username }}</p>
            </div>
          <div class="progress-bar">
            <div id="progress-bar-fill" style="width: {{ project.progress_percentage }}%;"></div>
          </div>
          <p class="fg" style="margin-top: 10px;">${{ project.total_donations }} raised</p>
          <p class="fg" style="color: gray;">X days to go</p>
          <p class="fg" style="color: gray;"><i class="fa-solid fa-location-dot" style="color: #c7c7c7; margin-right: 5px;"></i>Bloomington, IN</p>
          <p class="fg" style="color: gray;">{{project.views}} views</p>
        </div>
    
        </div>
      </a>
    </div>
  {% endfor %}
  {% else %}
  <p style="display: flex; justify-content: center; align-items: center; height: 200px; text-align: center; max-width: 90%;">@{{user}} has no completed projects yet. Stay tuned!</p>
  {% endif %}
</div>



<script>
  document.querySelector(".menu-btn").addEventListener("click", function () {
    document.getElementById("overlay").style.display = "block";
  });
  
  document.getElementById("overlay").addEventListener("click", function (event) {
    if (event.target.classList.contains("overlay")) {
      document.getElementById("overlay").style.display = "none";
    }
  });
  
  document.querySelector(".close-btn").addEventListener("click", function () {
    document.getElementById("overlay").style.display = "none";
  });
  </script>
</body>
</html>