<!DOCTYPE html>
<html lang="en">
<head>
  
  <script src="https://kit.fontawesome.com/4db88b2900.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw Our Funds -Our-Tube</title>
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest'%}">
    <link rel="stylesheet" href="{%static 'userchannelstyle.css'%}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.css">
    <!-- Include Cropper.js library -->
   
  
      <script>
        document.addEventListener("DOMContentLoaded", function() {
        var dropdown = document.getElementById("dropdown");
        var dropdownContent = document.getElementById("dropdown-content");
  
        dropdown.addEventListener("click", function() {
          dropdownContent.style.display = (dropdownContent.style.display === "none") ? "block" : "none";
        });
  
        document.addEventListener("click", function(event) {
          var targetElement = event.target;
          if (!targetElement.closest(".dropdown")) {
            dropdownContent.style.display = "none";
          }
        });
      });
      </script>
      <style>
        @import url('https://fonts.cdnfonts.com/css/youtube-sans');
        </style>
      <link href="https://fonts.cdnfonts.com/css/youtube-sans" rel="stylesheet">
     

</head>
   
<nav class="navbar-testing">
  <div class="logo">
    <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}"></a>
  </div> 
  <ul class="navbar-nav">

    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
     <div class="hudini">  <a href="{% url 'loda' %}" class="vinsmoke"><li>How it Works</li></a></div>
     <div class="hudini">    <a href="{% url 'funding_now' %}" class="vinsmoke"><li><i class="fa fa-search"></i> Funding Now</li></a>  </div>  
      <li></li>
      <li></li>
     <div class="hudini"><a href="{% url 'funding_info' %}"> <button class="donate-btn" style="color: azure; font-weight: bold;"> Start a Project</button></a></div>
       {% if user.is_authenticated %}
       <li>
        <div class="dropdown">
          {% if user.profile.cropped_image_data %}
          <img src="{{ user.profile.cropped_image_data.url }}" alt="Button Image" id="dropdown" style="border-radius: 50%; align-self: center;">
          <div class="dropdown-content" id="dropdown-content">
            <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
            <a href="{% url 'donation_history' %}">Your Donations</a>
            <a href="{% url 'logout'%}">Log Out</a>
          {% else %}
          <img src="{% static 'profilepic.png' %}" alt="Button Image" id="dropdown" style="border-radius: 50%;">
          <div class="dropdown-content" id="dropdown-content">
            <a href="{% url 'user_channel' username=request.user.username %}">Your Channel</a>
            <a href="{% url 'donation_history' %}">Your Donations</a>
            <a href="{% url 'logout'%}">Log Out</a>
          {% endif %}
          </div>
        </div>
     </li>
       {% else %}
       <a href="{% url 'login_user' %}" class="vinsmoke"><li>Login</li></a>
       {% endif %}
       

   </ul>

   <div class="overlay" id="overlay">
    <div class="close-btn">
      <i class="fas fa-times fa-lg"></i>
    </div>
    <div class="menu">
        <a href="{% url 'home' %}"><img src="{% static 'Our-TubeLogo.svg' %}" style="width: 150px; height:auto;"></a>
      
      <a href="{% url 'funding_now' %}" class="fuck" style="color: black;"> Discover <i class="fa fa-search" style="rotate: 90deg;"></i></a> 
      <a href="{% url 'loda' %}" style="color: black;" class="fuck">How it Works<i class="fas fa-book" style="margin-left: 10px;"></i></a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout'%}"  class="fuck" style="color: black;">Log Out</a>
      {% else %}
       <a href="{% url 'login_user' %}"  class="fuck" style="color: black;">Login <i class="fas fa-user" style="margin-left: 10px;"></i></a>
       {% endif %}
     <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <a href="{% url 'funding_info' %}"> <button class="donate-btn-burger" style="color: azure; font-weight: bold;"> Start a Project</button></a>
    {% if user.is_authenticated %}
    <a href="{% url 'donation_history' %}"> <button class="sign-btn-burger">Donation History</button></a>
    {% else %}
    <a href="{% url 'register_user' %}"> <button class="sign-btn-burger">Sign up</button></a>
    {% endif %}
  </div> 
    </div>
  </div>
</nav>
</header>
<body>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="form-errors hara">
      <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; justify-content: center;">
      <i class="fas fa-exclamation-circle fa-lg"></i>
      <p class="error-message">{{ message }}</p>
      </div>
    </div>
    {% elif message.tags == 'success' %}
    <div class="form-successes hara">
     <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; justify-content: center;">
     <i class="fas fa-check-circle fa-lg"></i>
     <p class="success-message">{{ message }}</p>
     </div>
   </div>
   {% endif %}
    {% endfor %}
    {% endif %}

    <nav class="edit-bar">
        <ul class="throatgoat">
            <h1 class="escanor">Withdraw Our Funds!</h1>
              <div style="display: flex; flex-direction: row; gap: 20px;">
              <a href="{% url 'channel_customization' %}" style="text-decoration: none;">  <li class="litems">Track Withdrawals</li> </a>
               <a href="{% url 'basic_info' %}" style="text-decoration: none;"><li class="litems">Add Collaborators</li></a>
              </div>
        </ul>
    </nav>
<div style="position: absolute; transform: translate(-50%,-75%); left: 50%; top: 75%; display: flex; flex-direction: column; width: 80%;">
      <div class="green-container">
  
<div style="display: flex; flex-direction: column;">
<p style="font-size: large; margin-bottom: 0em; margin-top: 0em;"><strong>Review these important details before withdrawing funds:</strong></p>
<p style="font-size: medium; margin-bottom: 0em;"><i class="fas fa-check" style="margin-right: 10px;"></i>You may share an entry with the invoice or proof of your transaction for the withdrawal amount. It helps keep things transparent.</p>
<p style="font-size: medium; margin-bottom: 0em;"><i class="fas fa-check" style="margin-right: 10px;"></i>While you can still withdraw without tracking, your withdrawal history will display an "untracked" withdrawal. Up to you!</p>
<p style="font-size: medium; margin-bottom: 0em;"><i class="fas fa-check" style="margin-right: 10px;"></i>Forgot to post an invoice? No worries! You can still share it even after you've got the funds in hand <u>here</u>.</p>
</div>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
    <a href="{% url 'withdraw' project_id=project.pk username=request.user.username %}"><button class="button-connect">Proceed</button></a>
</div>
  </div>

</body>
</html>
